.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 12px 5rem; /* Slightly larger padding for better touch targets */
  background-color: #243455;

  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-bottom: 1rem;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 0.875rem 1.5rem;
  background: transparent;
  color: #d1d5dc;
  font-size: 0.95rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  /* box-shadow: 0 4px 6px -1px rgba(37, 99, 235, 0.2),
    0 2px 4px -1px rgba(37, 99, 235, 0.1); */
}

.nav-link:hover,
.nav-link:focus {
  background-color: #2e3951; /* Slightly darker on hover/focus */
  color: #cfd8dc; /* Lighter text color on hover for contrast */
  outline: none; /* Removes focus outline */
}
